body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.beersMain img{
  width: 30%;
  height: 40%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beersMain h3 {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.beersMain p {
  text-align: center;
}

.beersMain button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  margin-top: 6%;
  margin-bottom: 4%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.searchInput {
  width: 80% !important;
}

.btn-info:hover {
  cursor: pointer;
}

Link button {
  text-decoration: none;
  text-underline-position: none;
}

.singleBeerImg {
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.singleBeerContainer h1 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
}

.singleBeerContainer h4 {
  text-align: center;

}

@media only screen and (max-width: 1000px) {
  .search {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .singleBeerContainer h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 15%;
  }
  .About{
    text-align: center;
    margin-top: 16% !important;
  }
}


@media only screen and (max-width: 500px) {
  .search {
    margin-top: 15%;
  }
}

/* div {
  height: fit-content;
} */

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
}

.footerCopyright {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.About {
  text-align: center;
  margin-top: 10%;
}

.About h3 {
  margin-top: 3%;
  margin-bottom: 1%;
}

.navfix {
  width: 100%;
  text-align: right;
}

.navfixli1 {
  position: absolute;
  right: 10px;
  top: 10px;
  
}
.navfixli2 {
  position: absolute;
  right: 80px;
  top: 10px;
  
}

.singleBeerFix {
  height: fit-content;

}

.btn-info {
  margin-bottom: 2%;
}

.favouriteContainer {
  margin-top: 10%;
}

